# ЕАСУР — Development. БЕЗ секретов (значения — из секрет-менеджера/Secret).
SPRING_PROFILES_ACTIVE=dev
DB_URL=jdbc:postgresql://postgres:5432/incident_db
DB_USER=CHANGE_ME
DB_PASSWORD=CHANGE_ME
REDIS_HOST=redis
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KEYCLOAK_ISSUER_URI=http://keycloak:8080/realms/emergency-112
LOG_LEVEL=INFO
