# ЕАСУР — Staging (идентичен prod по структуре). БЕЗ секретов.
SPRING_PROFILES_ACTIVE=k8s
DB_URL=jdbc:postgresql://postgres:5432/incident_db
DB_USER=CHANGE_ME
DB_PASSWORD=CHANGE_ME
REDIS_HOST=redis
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KEYCLOAK_ISSUER_URI=https://keycloak.stage.112.by/realms/emergency-112
LOG_LEVEL=INFO
