# ЕАСУР — конфигурация синхронизации времени (AGSDS: локальные NTP-источники).
{% for ntp in ntp_servers %}
server {{ ntp }} iburst
{% endfor %}
driftfile /var/lib/chrony/drift
makestep 1.0 3
rtcsync
